<%- include('partials/header.ejs') %>
</head>
<body>
    <h1>Pokedex</h1>
    <div class="pokedex-container">
            <div class="pokedex-owner-name">Brendon V.</div>
            <div class="pokedex-id">No.<%= pokemon.id %></div>
            <div class="pokedex-page">INFO</div>
            <img class="pokedex-image-container" src="<%= pokemon.img %>" alt="<%= pokemon.name %>"></img>
            <div class="pokedex-pokemon-name"><%= pokemon.name %></div>
            <div class="pokedex-pokemon-type">Type(<%= pokemon.type[0] %>)</div>
            <div class="pokedex-description-container">
                <div class="pokedex-pokemon-description">
                    <p> Description </p>
                    <p>Type: <%= pokemon.type %></p>
                    <p>Stats: <br>
                        HP: <%= pokemon.stats.hp %> <br>
                        attack: <%= pokemon.stats.attack %> <br>
                        defense: <%= pokemon.stats.defense %> <br>
                        spattack: <%= pokemon.stats.spattack %> <br>
                        spdefense: <%= pokemon.stats.spdefense %> <br>
                        speed: <%= pokemon.stats.speed %>
                    </p>
                    <p>Misc: </p>
                    <p>Sex: <br>
                        Male: <%= pokemon.misc.sex.male %> <br>
                        Female: <%= pokemon.misc.sex.female %> <br>
                    </p>
                    <p>Abilities: <br>
                        Normal: <%= pokemon.misc.abilities.normal %> <br>
                        Hidden: <%= pokemon.misc.abilities.hidden %> <br>
                    </p>
                    <p>Classification: <%= pokemon.misc.classification %></p>
                    <p>Height: <%= pokemon.misc.height %></p>
                    <p>Weight: <%= pokemon.misc.weight %></p>
                    <p>Capture Rate: <%= pokemon.misc.capturerate %>%</p>
                    <p>Egg Steps: <%= pokemon.misc.eggsteps %></p>
                    <p>EXP Growth: <%= pokemon.misc.expgrowth %></p>
                    <p>Happiness: <%= pokemon.misc.happiness %></p>
                    <p>Evopoints: <%= pokemon.misc.evopoints %></p>
                    <p>Fleeflag: <%= pokemon.misc.fleeflag %></p>
                    <p>Entreeforestlevel: <%= pokemon.misc.entreeforestlevel %></p>
                </div>
            </div>
            <div class="new-led" style="background-color: rgb(3, 120, 19);"></div>
            <div class="home-led" style="background-color: rgb(3, 120, 19);"></div>
            <div class="show-led" style="background-color: rgb(0, 188, 25);"></div>    
            <div class="edit-led" style="background-color: rgb(3, 120, 19);"></div>
            <a href="/pokedex/<%= parseInt(pokemon.id) - 1 %>"><button class="pokedex-up" type="submit"></button></a>
            <a href="/pokedex/<%= parseInt(pokemon.id) + 1 %>"><button class="pokedex-down" type="submit"></button></a>
            <a href="/pokedex/"><button class="pokedex-left" type="submit"></button></a>
            <a href="/pokedex/<%= pokemon.id - 1 %>/edit"><button class="pokedex-right" type="submit"></button></a>
            <form action="/pokedex/<%= parseInt(pokemon.id) %>?_method=DELETE" method="POST">
                <button class="pokedex-delete" type="submit"></button>                    
            </form>
            <button class="pokedex-enter" type="submit"></button>

    </div>
</body>
</html>